<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {{ with resources.Get "css/styles.css" | css.TailwindCSS }}
        <link rel="stylesheet" href="{{ .RelPermalink }}"/>
      {{ end }}

      <title>{{ .Title }} &bullet; {{ site.Title }} </title>
  </head>

  <body class="relative h-screen font-[Montserrat] grid grid-cols-[25vw_75vw] grid-rows-[25vw_3rem_calc(70vw-3rem)] [&>div]:px-8">
    <div class="grid grid-flow-col justify-items-end content-end">
      <img class="max-w-[10rem] max-h-[10rem]" src="/images/logo.svg"/> 
    </div>
    <div class="grid grid-flow-col justify-items-start content-end">
      <h1 class="text-4xl">
        {{ block "title" . }}
        {{ end }}
      </h1>
    </div>
    <div></div>
    <div class="content-center">{{ time.Format "January 2, 2006" .Date }}</div>
    <div class="flex flex-col gap-8">
      <div>
        <h1 class="text-xl text-right">Formally</h1>
        <h2 class="text-right">The open-source<br/> formal methods toolchain</h2>
      </div>
      <ul class="text-right [&_a:hover]:underline flex flex-col gap-2">
        <li>
          <a href="https://github.com/formally-fm/formally" target="_blank">
            View on GitHub
          </a>
        </li>
      </ul>
    </div>
    <div class="max-w-[60rem]">
      {{ block "main" . }}
      {{ end }}
    </div>
  </body>
</html>
