@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

@theme {
    --color-formally: #A12323;
}